*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
 }
 #navbar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    border-bottom: 1px gray solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: skyblue;
 }
 #nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#company-logo {
   width: 180px;
   min-width: 100px;
   height: auto;
}
#company-logo img{
   max-width: 100%;
   display: inline-block;
   vertical-align: middle;
   border: 0;
}
#link a{
   text-align: center;
   background-color: transparent;
   justify-content: center;
   align-items: center;
   padding: 1rem 1.25rem;
   font-size: 1rem;
   transition: all .2s;
   color: black;
}
#center-header{
   margin-top: 30vh;
   width: 100%;
}
#center-header h1{
   margin-top: 0;
   margin-bottom: 0;
   font-size: 4rem;
   font-weight: 600;
   line-height: 1.1;
   text-align: center;
}
.center-text{
   color: #071124;
   font-family: WorkSans, sans-serif;
   line-height: 1.6;
   font-size: 1.25rem;
   text-align: center;
   word-spacing: 2px;
   margin-top: 4vh;
}
#pricing-tier{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items:center ;
}
#card-2{
   text-align: center;
}
#getstarted-btn a{
   background-color:mediumvioletred;
   width: 180px;
   height: 9vh;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}
#getstarted-btn {
   margin-top: 3%;
   margin-left: 45%;
   margin-right: 25%;
   margin-bottom: 7%;
}